/* wide screens */

.active_page {
  text-decoration: none;
  border-bottom: 8px solid #55a2be;
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    margin: 0;
    margin-bottom: 0px;
  }

  /* navigation bar */

  nav a {
    text-decoration:none;
    font-weight: bold;
  }

  nav {
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  nav ul li {
    list-style-type: none;
    flex-grow: 1;
    font-size: 24px;
  }

  nav ul li a {
    display: block;
    padding: 16px 16px 16px 16px;

    color: black;

    font-size: 100%;
    text-decoration: none;
    text-align: center;
  }

  nav ul li a:hover {
    background-color: #eaf8ff;
    border-bottom: 8px solid #55a2be;
  }

  header, footer {
    display: flex;
    flex-direction: row;
    background-color: #d5e2ff;
  }

  footer {
    padding: 20px;
  }

  .footer-contact ul, .footer-nav ul{
    list-style-type: none;
    padding: 0;
    color: black;
  }

  .footer-nav ul li a {
    text-decoration: none;
    font-size: larger;
  }

  footer h3, .footer-contact, .footer-nav {
    flex-grow: 1;
  }

  footer .contact-emojis {
    font-size: larger;
  }

  h1 {
    font-size: 28pt;
    padding-left: 20px;
  }

  h2 {
    font-size: 24pt;
  }

  h3 {
    font-size: 20pt;
  }

  p {
    line-height: 1.5em;
  }

  em {
    font-weight: bold;
  }

  /* main contents of website */

  main {
    margin: 20px;
  }

  section {
    background-color: lightblue;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px 20px;
  }

  img {
    display: block;
    width: 100%;
    height: auto; /* preserve aspect-ratio */
    min-width: 300px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }

  .project-A,
  .project-B,
  .project-C {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }

  .project-description {
    padding: 30px;
  }

  .title-close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    box-sizing: border-box;
    color: black;
    background-color: white;
    font-size: 20pt;
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid black;
    cursor: pointer;
  }

  .pair-text-image {
    display: flex;
    flex-direction: row;
  }

  .pic-of-me {
    flex-grow: 1;
    margin: auto;
    padding: 30px;
  }

  .bio {
    flex-grow: 1;
    padding: 50px;
  }

  .contact {
    flex-grow: 1;
    margin: 0px 10px 10px 0px;
    display: flex;
    flex-direction: row;
  }

  .contact-info {
    padding-left: 100px;
  }

  .contact-info ul li {
    font-size: larger;
  }

  .skills {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 0px;
  }

  .awards {
    margin: 10px 10px 10px 0px;
  }

  .cornell-img {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hobby {
    margin-top: 10px;
  }

  .hobby-pics {
    display: flex;
    flex-direction: row;
  }

  .hobby-A {
    flex-grow: 1;
  }

  .hobby-B {
    flex-grow: 1;
  }

  figcaption {
    margin-top: 10px;
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .line {
    font-weight: bold;
    font-size: 28px;
  }

  .default-cursor {
    cursor: default;
  }

  .title-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-label {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px 0px;
  }

  #request-submit {
    padding: 10px;
    border-radius: 4px;
    border-color: #55a2be;
    background-color: #eaf8ff;
    float: right;
  }

  .not-found p {
    font-size: larger;
  }

  .not-found {
    padding: 30px;
  }
